body {
    background-image: url(./images/articleBkg.jpg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

/* Image Styles */
.indexImg {
    max-width: 100%;
    max-height: 100%;
}

.articleImg {
    max-width: 100%;
    max-height: auto;
}

.checked {
    color: orange;
}

/* Container Styles */
.container {
    background-position: center;
    font-size: 0.8rem;
}

.floatContainer {
    background-color:silver;
    opacity: 0.8;
    border-radius: 1em;
}

/* Positioning */
.floatRight {
    float: right;
}

.center {
    align-items: center;
}

/* heart CSS */
.heart {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url(https://cssanimation.rocks/images/posts/steps/heart.png) no-repeat;
    background-position: 0 0;
    cursor: pointer;
    animation: fave-heart 1s steps(28);
  }
  .heart:hover {
    background-position: -2800px 0;
    transition: background 1s steps(28);
  }
  @keyframes fave-heart {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -2800px 0;
    }
  }
  