body {
    background-image: url(./images/mainBackground.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

/* Image Styles */
.indexImg {
    max-width: 100%;
    max-height: 100%;
}

.articleImg {
    max-width: 100%;
    max-height: auto;
}

a:hover   {
    color: peru;
}

.btn-mini:hover {
    color: orangered;
}

.loginLink {
    padding: 0.5em;
}
/* Container Styles */
.container {
    background-position: center;
    font-size: 0.8rem;
}

.floatContainer {
    background-color:silver;
    opacity: 0.8;
    border-radius: 1em;
}

/* Positioning */
.floatRight {
    float: right;
}

.center {
    align-items: center;
}